.ShipsPage {
	width: 100%;
	min-height: var(--content-height);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

	min-height: var(--content-height);

	margin-block: 30px;
	padding-inline: 20px;
}
