.Pagination {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  padding-block: 10px;

  background-color: var(--background-color);

  position: sticky;
  bottom: 0;

  .Pagination__page {
    width: 130px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
