:root {
	--accent-red: #fa1437;
	--accent-red-dark: #c1112c;

	--font-roboto: "Roboto", Helvetica, Arial, sans-serif;
	--main-color-text: #ffffffb3;
	--line-height: 16px;

	--navbar-height: 56px;
	--navbar-text-color: #e5e5e5;
	--bg-card-hover: rgba(255, 255, 255, 0.08);

	--content-height: calc(100vh - var(--navbar-height));

	--background-color: rgba(1, 10, 25);
}
