.ShipList {
	width: 100%;
	min-height: var(--content-height);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 20px;

	.ShipCard {
		width: 100%;
		max-width: 1100px;

		border: var(--card-border);

		.ShipCard__header {
			width: 100%;
			height: var(--ship-card-header-heigh);

			display: flex;
			align-items: center;
			justify-content: center;

			border-bottom: var(--card-border);

			.ShipCard__flex {
				height: 100%;

				display: flex;
				align-items: center;
				justify-content: center;
			}

			.ShipCard__title {
				width: 40%;
			}

			.ShipCard__type {
				width: 40%;

				border-inline: var(--card-border);
			}

			.ShipCard__level {
				width: 20%;
			}
		}

		.ShipCard__content {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.ShipCard__image {
				position: relative;

				max-width: 40%;
			}
			.ShipCard__description {
				padding: 10px;
				width: 60%;
			}
		}
	}

	.ShipList__pagination {
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;

		padding-block: 10px;

		background-color: var(--background-color);

		position: sticky;
		bottom: 0;
	}

	.pagi {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 20px;

		border: var(--card-border);

		cursor: pointer;
	}
}
