.PageLoader {
	min-height: calc(100vh - var(--navbar-height));
    width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 999;

    background-color: var(--background-color);
}
